body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: var(--color-5);
}

/* Fonts */
.set-text-font {
    font-family: "Delius", cursive;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}

.set-titles-font {
    font-family: "Great Vibes", cursive;
    font-size: 60px;
    font-weight: 400;
    font-style: normal;
    color: var(--color-1);
}

/* Color scheme */
.color-1 {
    color: #8fbc8f;
}
.color-2 {
    color: #a9d18f;
}
.color-3 {
    color: #c2e0a4;
}
.color-4 {
    color: #e4f2b1;
}
.color-5 {
    color: #f1f8e2;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    width: 80%;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }}

article .set-titles-font {
    font-size: 50px;
    /*  border: 5px solid;
    border-radius: 10px;*/    
}


/* CSS Variables */
:root {
    --color-1: #8fbc8f;
    --color-2: #a9d18f;
    --color-3: #c2e0a4;
    --color-4: #e4f2b1;
    --color-5: #f1f8e2;
}

.fairies-icon-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fairies-icon-title img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.articles-style {
    width: 85%;
}

.articles-style div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    margin: 20px;
    padding: 10px;
}

.articles-style div div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    border: unset;
}

.articles-style h1 {
    text-align: left;
    margin: 0;
    padding: 0;
}

.grid div {
    font-size: 9px;
    padding: 1px;
    text-align: center;
}

.grid div h4{
    font-size: 40px;
    margin: 5px;
}

.article-vero {
    display: flex;
    flex-direction: column;

    align-items: center;
}

