/* Fonts */
.set-text-font {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}

.set-titles-font {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}

/* Color scheme */
.color-1 {
  color: #8fbc8f;
}
.color-2 {
  color: #a9d18f;
}
.color-3 {
  color: #c2e0a4;
}
.color-4 {
  color: #e4f2b1;
}
.color-5 {
  color: #f1f8e2;
}

.grid {
    display: grid;
     grid-template-columns: repeat(auto-fill,
        minmax(400px, 1fr));
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;  
  }}

article  .set-titles-font {
    font-size: 50px;  
}

.grid > div {
    font-family: "Delius", cursive;
    font-size: 9px;
    padding: 1px;
    text-align: center;
    /*  border: 5px solid;
    border-radius: 10px;*/    
}


.grid > div p{
    font-size: 20px;
    margin: 5px;  
}

/* CSS Variables */
:root {
  --color-1: #8fbc8f;
  --color-2: #a9d18f;
  --color-3: #c2e0a4;
  --color-4: #e4f2b1;
  --color-5: #f1f8e2;
}

:footer-colors {
  --foot-1: #7fffd4;
  --foot-2: #7fffd4;
  --foot-3: #40e0d0;
  --foot-4: #66cccc;
}

footer {
  font-family: "Great Vibes", cursive;
}
